# dependencies
node_modules/
.pnp
.pnp.*

# build outputs
dist/
.next/
out/
build/

# turbo
.turbo/

# prisma
generated/prisma/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
*.pem
*.tsbuildinfo
